%YAML:1.0

###############################################################################
##                                                                           ##
## Configuration file for the navigation package                             ##
##                                                                           ##
###############################################################################

##---------------------------------------------------------------------------##
## Path and filename of the log file
##---------------------------------------------------------------------------##
logparser:
    # Frame per second of the log playback
    waitkey: 10

    # If empty the sw uses real sensors
    #
    # Opzioni path
    # -- Giorgio
    # /home/pantano/Desktop/projectg_log/
    # -- Portatile
    # /home/mpp/DODICH/Registrazioni/
    # -- Laboratorio
    # /home/dodich/DODICH/Registrazioni/
    path: /home/dodich/DODICH/Registrazioni/

    # Opzioni
    #
    # -- Caso 1 - fine filare
    # 02161602_ls_sick.csv
    # -- Caso 2 - filare a sinistra
    # 01051511_ls_sick.csv
    # -- Caso 3 - rotazione a sinistra
    # 12011112_ls_sx_sick.csv
    # -- Caso 4 - interno del box
    # 02161159_ls_sick.csv
    # -- Caso 5 - box-filare-testate
    # 02180842_ls_sick.csv
    # -- Caso 6 - nuova rotazione
    # 02281618_ls_sick.csv
    # -- Caso 7 - rotazione 28 febbraio
    # 03031520_ls_sick.csv
    # -- Caso 8 - rotazione a destra
    # 02141035_ls_sick_dx.csv
    # -- Caso 8 - rotazione a destra marzo
    # 03051425_ls_sick.csv
    # -- Casi 9 - rotazione destra 5 marzo
    # 03051653 -> K = 6 stretta
    # 03051657 -> K = 6 stretta
    # 03051700 -> K = 6 si e' bloccato dopo 3/5 gradi senza continuare la manovra
    # 03051701 -> K = 6 si e' bloccato dopo circa 20/30 gradi senza continuare la manovra
    # -- Casi 10 - test rotazione destra 6 marzo
    # 03061053 -> k = 4.2, partenza più distante, errore opencv
    # 03061047 -> k = 4.5, partenza da ~60°, si è fermato dopo ~90°
    # 03061044 -> k = 4.5, si ferma subito
    # 03061042 -> come sopra
    # 03061034 -> k = 5, partenza ritardata, ruota interna bloccata
    # 03061025 -> k = 4, largo
    # 03061024 -> k = 5.5, stretto
    # -- Casi 11
    # 03061457
    # 03061556
    # 03061723_ls_sick
    # -- Casi 12 7 marzo
    # 03071340
    # 03071346
    # 03071335_ls_sick
    # 03071442 610
    # 03071556_610
    # 03071547
    # -- Caso 13 8 marzo
    # 03081003_ls_sick    
    # -- Casi 14 9 marzo
    # 03091143_ls_sick
    # 03091147_ls_sick
    # -- Casi 15 10 marzo
    # 03101104_ls_sick
    # -- Casi 16 10 marzo pm
    # 03101354_ls_sick
    # 03101407_ls_sick
    # 03101406_ls_sick
    # 03101354_ls_sick
    # 03101350_ls_sick
    # 03101556_ls_sick 910
    # 03101104_ls_sick
    # -- Casi 17 12 marzo mattina
    # 03120840_ls_sick test su vigneto largo, inseguimento filare a destra
    # -- Casi 18 12 marzo pomeriggio
    # 03121400_ls_sick
    # 03121410_ls_sick
    # -- Casi 19 16 marzo mattina Giorgio
    # 03160849_ls_sick dove non ha seguito il filare partendo da fermo. Il dodich era leggermente non allineato.
    # 03160843_ls_sick dove la manovra a sinistra e' andata bene anche se troppo stretta e influenzata dai rumori del filare.
    # -- Casi 29 16 marzo sera Giorgio
    # 03161815_ls_sick
    # 03161810_ls_sick
    # 03161759_ls_sick
    # ---
    # 03181542_ls_sick
    # 03190810_ls_sick
    # 03181843_ls_sick_no_fine
    # ---
    # 03191403_ls_sick
    # -- Casi 21 20 marzo mattina
    # 03200736_ls_sick
    # 03200729_ls_sick
    # -- Casi 22 20 marzo sera
    # 03201700_ls_sick  solo un frame per segmentation fault -> risolto
    # 03201818_ls_sick  bene curva a destra male quella a sinistra
    # -- Casi 23 21 marzo
    # 03210722_ls_sick
    # 03211038_ls_sick
    # 03211051_ls_sick
    # 03211518_ls_sick
    # -- Casi 24 23 marzo
    # 03220942_001R_sbalzo sbalzo per buca
    # -- Casi 25 25 marzo
    # 03250949_ls_sick
    # 02170845_05HL_sick test capezzagna
    # -- Casi speciali di test
    # test_special_target_operation -> delle operazioni 07TL per debug
    # -- Casi 26 28 marzo
    # 03281610_ls_sick
    # 03281757_ls_sick manovra sinistra con problemi
    # -- Casi 27 31 marzo
    # 03310739_P01R_sick
    # 03310739_P01R_sick
    # -- Casi 28 1 aprile
    # 04010839_P01R_sick primi passi P01R
    # 03291616_F01L_si
    # 03301451_F01L_no
    # 02170845_07TL_sick
    file: "03301451_F01L_no.csv"


    # Here goes the operation, it can be
    # 001L
    # 001R
    # 003L
    # 003R
    # 05HL
    # ... sostituzioni 27.03.2014 ...
    # 001R con F01R Forward right side
    # 001L con F01L Forward left side
    # 003R con T01R Turn right
    # 003L con T01L Turn left
    # 05HL con H01L Header left
    # 07TL con P01L Point left
    operation: "F01L"

##---------------------------------------------------------------------------##
## Parameters for the laser scan raw filter
##---------------------------------------------------------------------------##
laserscanfilter:
    # minimum distance threshold (mt)
    minDistance: 0.3 

    # minimum distance threshold (mt)
    maxDistance: 11.0

    # minimum angle of scan (deg) - 0° is in front of the scanner
    minAngle: -2.20

    # maximum angle of scan (deg) - 0° is in front of the scanner
    maxAngle: 2.20 

##---------------------------------------------------------------------------##
## Parameters for the poles extractor class
##---------------------------------------------------------------------------##
poleExtractor:
    # the maximum distance between two points of the same pole
    clusterTolerance: 0.25 

    # the minimum number of point to define a pole
    minClusterSize: 2

    # the maximum number of point that can rely to a pole
    maxClusterSize: 30

    # the maximum distance between 2 poles candidates to be considered the same pole, for tracking purposes
    maximumPolesDistance: 0.8

    # for the FLANN Hierarchical clustering (deprecated)
    branchingFactor: 10 

    # for the FLANN Hierarchical clustering (deprecated)
    iterations: 60 

##---------------------------------------------------------------------------##
## Parameters for the line extractor class
##---------------------------------------------------------------------------##
lineExtractor:
    # the maximum distance (mt) between two poles that are assigned to the same line
    maxPoleDistance: 3.5
    maxDistanceFromLastLine: 1.0

    reps: 0.0001 # Sufficient accuracy for the radius (distance between the coordinate origin and the line).
    aeps: 0.0001 # Sufficient accuracy for the angle. 0.01 would be a good default value for reps and aeps.
    minLineSize: 4 # !!!!MUST BE >= 4!!! Minimum number of poles for a line, fitLine does not work with values < 4
    epsilon: 0.6

##---------------------------------------------------------------------------##
## Parameters for the navigation planners
##---------------------------------------------------------------------------##
globalMP:
    # maximum linear velocity m/s
    maxV: 2.0 

    # maximum angular velocity rad/s
    maxOmega: 2.0

# Following the indication of: http://www.inaut.unsj.edu.ar/Files/Ca1277_03.pdf 
lineFollower: 
    desiredDistance: 1.5 # desired distance from the line
    desiredTheta: 0.0 # desired angle divergence from the line

    ## !!BEWARE!! that changes in maxV and maxOmega involve changes in theese variables
    a1: 0.5
    a2: 0.5
    k1: 1 # k1 + k2*u_max <= omega_max, nel caso di (u_max, omega_max) = (2, 2)
    k2: 0.5 
    limitMultiplier: 4

    minHeadPoleDistance: 3.0 # When the head pole is nearer than this threshold the robot have reched the end of the line
    
# Following the indication of: http://web.eecs.umich.edu/~kuipers/papers/Park-icra-11.pdf
Uturn:
    k1: 0.3
    k2: 1
    k3:  0.5
    beta: 0.4
    lambda: 2
    headPoleThreshold: 2.0
    endEpsilon: 1.0
    endGamma: 0.2

##---------------------------------------------------------------------------##
## GUI parameters
##---------------------------------------------------------------------------##
gui:
    wHeight: 700
    wWidth: 1000
    wFactor: 30 # 1 real meter = factor*pixels in the GUI
    wFontScale: 0.5

    center: [ 615, 350 ]

    poleIDOffset: [ -20.0, -7.0 ]
    poleRadius: 6
    lineThickness: 3

    compassWHXY: [ 100, 100, 115, 315 ]
    compassRadius: 45

    colors: # BGR not RGB
        red: [ 50,50,255,0 ]
        black: [ 0,0,0,0 ]
        white: [ 255,255,255,0 ]
        darkGray: [ 80,80,80,0 ]
        lightGray: [ 190,190,190,0 ]
        blue: [ 255,50,50,0 ]
        green: [ 50,200,50,0 ]
        lightGreen: [ 150,255,150,0 ]
        lightRed: [ 150,150,255,0 ]
        yellow: [ 50,255,255,0 ]   

## Here can go other parameters
